.app-layout {
    min-height: 100vh;

    background: #f4f7f4;
}


.main-content {
    margin-left: 250px;

    padding-top: 72px;

    min-height: 100vh;

    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 40px;
}


@media (max-width: 800px) {

    .main-content {
        margin-left: 72px;

        padding-left: 20px;
        padding-right: 20px;
    }

}